<!doctype html>
<html class="no-js" lang="en">
<head>
	<!-- Importing fonts css files 
	TODO: Determine if it's faster to self-host -->
	<link href='http://fonts.googleapis.com/css?family=Dosis:200,400' rel='stylesheet' type='text/css'>
	<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
	<link href="/css/app.css" rel="stylesheet" type="text/css">
	<!--Script includes-->
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script><!-- jQuery TODO: find something faster and lighter -->
	<script src="/js/app.js"></script><!-- what makes this run -->

</head>

<body>

	<main role="main" id="content">
		{{ content }}
	</main>
</body>

</html>
