/* ==========================================================================
    Main Styles for Score, a simple web app by Sean Rice
    Github: http://github.com/seanriceaz 
   ========================================================================== */
body{
	font-family: 'Dosis', sans-serif;
	font-weight:200;
}
h2, h3, h4{
	font-weight:400;
}
#team1, #team2, #time{
	position:absolute;
	top:0;
	bottom:0;
	text-align:center;
	label
	{
		font-size:200px;
		position:absolute;
		top:50%;
		margin-top:-.5em;
		width:100%;
		display:block;
	}
}
#team1{
	left:0;
	right:50%;
	background:#19FDFF;
	color:white;
	z-index:1;
  text-shadow:0 2px 0 rgba(0,0,0,.5);
}
#team2{
	z-index:1;
	right:0;
	left:50%;
	background:#FFD700;
	color:white;
  text-shadow:0 2px 0 rgba(0,0,0,.5);
}
#time{
	left:40%;
	right:40%;

	button{
		border-radius:1000px;
		font-size:30px;
		border:1px solid white;
		background: #eee;
		width:50px;
		height:50px;
		margin-top:-25px;
		&:active{
			background:#ccc;
		}
		&:focus{
			outline:none;
			box-shadow:0;
		}
	}
}
#control{
	position:absolute;
	z-index:3;
	top:50%;
	left:0;
	right:0;
}

#instructions{
	@include transition();
	background:rgba(0,0,0,.75);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1000;
	.window{
		position:absolute;
		background:white;
		padding:10px;
		top:10px;
		right:10px;
		left:10px;
	}
	&.hidden{
		background:rgba(0,0,0,0);
		bottom:100%;
		top:-10%;
		overflow:hidden;
		.window{
			display:none;
		}
	}
}

/* Special setup for portrait screens */
@media screen and (orientation: portrait)
{
	#team1{
		right:0;
		bottom:50%;
	}
	#team2{
		left:0;
		top:50%;
	}

}