/* ==========================================================================
    Main Styles for Score, a simple web app by Sean Rice
    Github: http://github.com/seanriceaz 
   ========================================================================== */
*{box-sizing:border-box}

body{
	font-family: 'Dosis', sans-serif;
	font-weight:200;
}
h2, h3, h4{
	font-weight:400;
	margin:0;
}

#team1, #team2, #controls{
	position:absolute;
	top:0;
	bottom:0;
	text-align:center;
	//Disable text selection (fixes swiping issue)
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	h2{
		position:absolute;
		top:10px;
		width:100%;
		text-align:center;
	}
	label
	{
		font-size:200px;
		position:absolute;
		top:50%;
		line-height:1;
		margin-top:-.5em;
		width:100%;
		display:block;
	}
	.inner, label, h2{
		@include transition();
	}
	.inner{
		width:100%;
		height:100%;
	}
}
#team1{
	
	left:0;
	right:50%;
	background:#F7CB03;
	color:white;
	z-index:1;
  text-shadow:0 2px 0 rgba(0,0,0,.5);
}
#team2{
	z-index:1;
	right:0;
	left:50%;
	background:#11B2AA;
	color:white;
  text-shadow:0 2px 0 rgba(0,0,0,.5);
}
#controls{
	left:40%;
	right:40%;

	button{
		display:block;
		border-radius:1000px;
		font-size:30px;
		border:0;
		background: lighten(#89B2B1,30%);
		width:50px;
		height:50px;
		margin-top:-25px;
		margin-left:-25px;
		line-height:1;
		padding:0;
		&:active{
			background:#89B2B1;
		}
		&:focus{
			outline:none;
			box-shadow:0;
		}
	}
	.ion-arrow-swap{
		transform:rotate(90deg);
	}
}
#centerbutton, #topbutton, #bottombutton{
	position:absolute;
	z-index:3;
	left:50%;
}
#centerbutton{
	top:50%;
}
#topbutton{
	top:25%;
}

#instructions{
	@include transition();
	background:rgba(0,0,0,.75);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:10px;
	z-index:1000;
	.window{
		position:relative;
		background:white;
		padding:10px;
		margin:0 auto;
		max-width:300px;
		text-align:center;

	}
	button{
		display:block;
		width:100%;
		height:60px;
		border:none;
		background:#B21290;
		color:white;
		font-weight:400;
		font-size:24px;
		&:focus, &:hover, &:active{
			outline:none;
			border:none;
			background: darken(#B21290, 5%);
		}
	}
	&.hidden{
		background:rgba(0,0,0,0);
		bottom:100%;
		top:-10%;
		overflow:hidden;
		.window{
			display:none;
		}
	}
}
//updown mode
.updown{
	#team1 .inner{
		//h2, label{
			-webkit-transform:rotate(180deg);
			transform:rotate(180deg);
		//}
	}
}

/* Special setup for portrait screens */
@media screen and (orientation: portrait)
{
	#team1{
		right:0;
		bottom:50%;
	}
	#team2{
		left:0;
		top:50%;
		h2{
			top:auto;
			bottom:10px;
		}
	}
	#controls{
		top:45%;
		bottom:45%;
		left:0;
		right:0;
		button{
			margin-left:-25px;
		}
	}
	#centerbutton, #topbutton, #bottombutton{
		top:50%;
	}
	#centerbutton{
		left:50%;
	}
	#topbutton{
		left:25%;
	}
	.updown #team1 .inner{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		h2, label{
			-webkit-transform:rotate(180deg);
			transform:rotate(180deg);
		}
	}

}