/*==========================================================================
  Mixins for Score, a simple web app by Sean Rice
  Github: http://github.com/seanriceaz 
  ========================================================================== */

/*==========================================================================
  Transition   
  ========================================================================== */
@mixin transition($speed:.3s){
  -webkit-transition: all $speed ease-in-out;
  transition: all $speed ease-in-out;
}
  