<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Importing fonts css files 
	TODO: Determine if it's faster to self-host -->
	<link href='http://fonts.googleapis.com/css?family=Dosis:200,400' rel='stylesheet' type='text/css'>
	<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
	<link href="{{ site.baseurl }}/css/app.css" rel="stylesheet" type="text/css">
	<!--Script includes-->
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script><!-- jQuery TODO: find something faster and lighter -->
	<script src="{{ site.baseurl }}/js/jquery.mobile-events.min.js"></script><!-- Sniff touch events -->
	<script src="{{ site.baseurl }}/js/app.js"></script><!-- What makes this run -->
</head>

<body>

	<main role="main" id="content">
		{{ content }}
	</main>
</body>

</html>
